/* спецификация */

body {
font-family: 'Montserrat', sans-serif;
}

ul, li{
	display:block;
	padding:0;
	margin:0;
}

h1, h2 {
	font-weight: 400;


}
h3 {
	font-weight: 400;
	font-size: 24px;
}
p, div, span, a {
	line-height: 1.5em;
}
a:hover{
	text-decoration: none;
	color: #fff;
}
.purple{
	color: #bba3dd;
}

/* первый экран */

.header {
	background: #bba3de;
	color: #000;
	padding-top: 60px;
	padding-bottom:120px;
}


.menu{
}

.menu__item {
	margin: 0 60px;
}

.menu__item a {
	font-size: 26px;
	font-weight: 400;
	color: black;

}

.mytitle {
	font-size: 26px;
	font-weight: 400;
	color: black;

}
.offer{
margin-top: 90px;
}

.icons__item {
	margin-right: 40px;
}
.offer__intro{
	font-size: 30px;
	color: #191919;
	font-weight: 300;
}
.offer__text{
	font-size: 30px;
	margin-bottom: 40px;
	color: #191919;
	font-weight: 300;
}
.offer__title{
	margin-bottom:20px;
	}


a:hover{
	color: #f1f1f1;
}


.logo{
	display: block;
	margin: 60px auto;
}



.title{
	padding-top:100px;
	padding-bottom: 80px;
	font-size:40px;
	text-align: center;
}

.title__main{
	font-size: 30px;
}

.title__text{
	font-size: 20px;
	font-weight: 300;
	width: 800px;
	margin: 0 auto;
}


/* второй экран */
.feature{
	margin-bottom: 70px;
	text-align:center;
	width:100%;
	
}
.feature__icon {
	margin-right:30px;
}

.feature__text{
	color: #3d3d3d;
}

/*touch */

.touch{
	background: black;
	color: white;
}

.form{
	text-align:center;
}

.form__input{
	background: white;
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
	width: 600px;
	padding: 10px 0;
	border:0;
	margin-right: 20px;
	padding-left:20px;
	border-radius:10px;
	outline:none;
}

.form__btn{
	background: #bba3dd;
	font-size:20px;
	font-family: 'Montserrat', sans-serif;
	width: 150px;
	border:0;
	padding: 10px 0;
	cursor:pointer;
	border-radius:10px;
	outline:none;
}


/* footer */

.footer{
	background: black;
	padding: 70px 100px;
}
.credits{
	color:white;
	font-size: 16px;
	text-align:center;
	padding-top: 50px;
	width: 150px;
	margin:0 auto;
}